html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #333;
}

.doc-office .doc-office__name {
    font-size: 2rem;
    font-weight: bold;
}

.doc-office label,
.doc-office div {
    font-size: 1rem;
    font-weight: normal;
}

.doc-office h2 {
    font-weight: bold;
}

.doc-office h3 {
    font-weight: bold;
    font-size: 1.25rem;
}

.success-message {
    background-color: #d8fbd8;
    color: black;
    padding: 1rem;
    width: 100%;
}

.error-message {
    background-color: #ffe4da;
    color: black;
    padding: 1rem;
    max-width: 100%;
}

.contained-width {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: left;
}

@media only screen and (min-width: 769px) {
    .contained-width {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.doc-office {
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
}

.doc-office .doc-office__header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.doc-office__hero--image {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 26rem;
    justify-items: center;
    min-height: 25rem;
    position: relative;
}

.doc-office__name {
    align-self: end;
    background-color: white;
    margin: 0 auto;
    width: 63%;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
}

.doc-office .doc-office__menu {
    background-color: #333;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.doc-office .doc-office__loggedin {
    background-color: #e5e5e5;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: right;
}

.doc-office__user-info {
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: right;
}


.doc-office .doc-office__content {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    min-height: 350px;
}

.doc-office .doc-office__footer {
    background-color: #333;
    color: white;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    font-size: 1.4rem;
}

.doc-office .doc-office__footer a {
    color: white;
}

.doc-office__footer--wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.doc-office__footer--left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.doc-office__footer--right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: white;
    color: black;
}

.menu .active {
    background-color: white;
    color: black;
}

.doc-office__manage h2,
.doc-office__schedule--edit h2,
.doc-office__adddiagnosis h2,
.doc-office__reports h2 {
    padding-top: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.doc-office__manage h3,
.doc-office__schedule--edit h3,
.doc-office__adddiagnosis h3,
.doc-office__reports h3 {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.doc-office__reports h3:last-of-type {
    margin-bottom: 1rem;
}

.doc-office__table table {
    width: 100%;
    padding-bottom: 1rem;
    border-collapse: collapse;
}

.doc-office__table table,
.doc-office__table th,
.doc-office__table td {
    border: 1px solid black;
}

.doc-office__table table th {
    background-color: #e5e5e5;
    padding: 0.25rem
}

.doc-office__table table td {
    padding: 0.25rem
}

.doc-office__table table th {
    padding: 0.25rem
}

.doc-office__appointments--show{
    margin: 0 auto;
    max-width:75rem;
    font-family :Tahoma;
    box-sizing: border-box;
}

.doc-office__appointments--show form {
    box-sizing: border-box;
    border: 1px solid #dadada;
    display:grid;
    gap: 1rem;
    grid-template-columns: 10rem 10rem 10rem auto;	    
    margin: 1rem 0;
    padding: 2rem  1rem;
}

.doc-office__appointments--show  select {
    border: 1px solid #dadada;
    height: 2.25rem;
    padding: 0.25rem;
}

.doc-office__appointments--show form input[type=submit]{
    height: 2.25rem;
    padding: 0.25rem;
}

.doc-office__appointments--show caption{
    text-align: center;
    grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

.doc-office__appointments--show table,
.doc-office__appointments--calendar{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.doc-office__appointments--show table tr,
.doc-office__appointments--show table tbody { 
    box-sizing: border-box;	
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.doc-office__appointments--show table td,
.doc-office__appointments--show table th  {
    padding:0.5rem;
    box-sizing:border-box;
    border: 1px solid #ccc;
}

.doc-office__appointments--show table td { 
    position: relative;
    min-height: 100px;
    display: flex;
    flex-direction: column;
 }

.doc-office__appointments--show table th {
    border: 1px solid transparent;
    line-height: 20px;
    padding:0.5rem;
    text-align: center;
    text-transform: uppercase;
 }

 .other-month {
    background: #e5e5e5;
    color: #666;
}

.weekdays {
    background: #686868;
    color: #fff;  
}

.doc-office__appointments--show .doc-office__day--link { 
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: lightgray;
    width: 20px;
    border-radius: 50%;
    flex: 0 0 auto;
    align-self: flex-end;
 }

.doc-office__appointments--show .other-month .doc-office__day--link {
    background-color: white;
}

.doc-office__day--link a{
    color: #000;
    text-decoration: none;
}

.doc-office__day--link a:hover {
    color: #fff;
}

.doc-office__appointments--show .doc-office__day--num-of-appointments {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.doc-office__appointments--show .doc-office__day--num-of-appointments span {
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2rem 0.5rem;
    height: 100%;
    border-radius: 4px;
    box-sizing:border-box;
}

.doc-office__appointments--show .doc-office__day--num-of-appointments .available { 
    background: #d8fbd8;
    border: 1px solid #90EE90;
}

.doc-office__appointments--show .doc-office__day--num-of-appointments .not-available { 
    background:#ffe4da;
    border: 1px solid #FFA07A;
}

.doc-office__edit-appointment{
    margin: 0 auto;
    max-width: 75rem;
    box-sizing: border-box;
    overflow: auto;
    
}

.doc-office__edit-appointment caption{
    text-align: center;
    grid-column: 1 / -1;
    font-size: 130%;
    font-weight: bold;
    padding: 10px 0;
}

.doc-office__edit-appointment table,
.doc-office__appointments--calendar{
    box-sizing: border-box;
    width: 100%;
    border-collapse: inherit;
    text-indent: initial;
    border-spacing: inherit;
}

.doc-office__edit-appointment table tr,
.doc-office__edit-appointment table tbody { 
    box-sizing: border-box;   
    width: 100%;
}

.doc-office__edit-appointment table td,
.doc-office__edit-appointment table th  {
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.doc-office__edit-appointment table td { 
    position: relative;
    height: 3rem;
    box-sizing: border-box;
}
.doc-office__edit-appointment table th {
    line-height: 20px;
    text-transform: uppercase;
    background: #686868;
    color: #fff;  
}

.doc-office__edit-appointment table th[scope = "row"] {
    min-width: 10rem;
}

.doc-office__edit-appointment table td.doc-office__edit-appointment--add,
.doc-office__edit-appointment table td.doc-office__edit-appointment--delete{
    font-size: 0.75rem;
    padding-right: 2rem;
}

.doc-office__edit-appointment--add{
    background: #d8fbd8;
}

.doc-office__edit-appointment--delete{
    background:#ffe4da;
}

.doc-office__edit-appointment--add a,
.doc-office__edit-appointment--delete a{
    display: block;
    position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    text-align: center;
    background: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.doc-office__edit-appointment--delete a{
    background:tomato;
    color:white ;
    border: 1px solid tomato;
}

.doc-office__edit-appointment--delete a:hover,
.doc-office__edit-appointment--delete a:focus{
    background:white;
    color:tomato;
}

.doc-office__edit-appointment--add a{
    background:MediumSeaGreen;
    border: 1px solid #90EE90;
    color: #fff;
}

.doc-office__edit-appointment--add a:hover,
.doc-office__edit-appointment--add a:focus{
    background:#fff;
    color:MediumSeaGreen;
}

.doc-office__details {
    width: 100%;
    margin: 0 auto ;
    background: #e5e5e5;
    color: black;
    margin-bottom: .5rem;
    overflow: hidden;
}
  
  .doc-office__details--summary {
    padding: 1rem;
    display: block;
    background: #e5e5e5;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
  }

  .doc-office__details--content {
      border: 1px solid black;
      background-color: white;
      padding: 1rem;
  }
  
  .doc-office__details--summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }
  
  /* THE MAGIC 🧙‍♀️ */
  .doc-office__details[open] > .doc-office__details--summary:before {
    transform: rotate(90deg);
  }
  
  
  .doc-office__details .doc-office__details--summary::-webkit-details-marker {
    display:none;
  }

.doc-office__actions {
    width: 100%;
    padding-top: 1rem;
    text-align: right;
}

.closed {
    background-color: #ffe4da;
}

.doc-office__home--patient {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1rem;
}

.doc-office__home--patient .doc-office__welcome-message {
    grid-column: 1 / 2;
}

.doc-office__home--patient .doc-office__patient-info {
    grid-column: 2 / 3;
}

.doc-office__patient-info li {
    padding-bottom: 1.25rem;
    position: relative;
    list-style-type: none;
}

.doc-office__patient-info .appointment li:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -30px;
    width: 24px;
    height: 24px;
    background-image: url('/images/icons/calendar.png');
}

.doc-office__patient-info .prescription li {
    padding-bottom: 1.75rem;
}

.doc-office__patient-info .prescription li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    width: 24px;
    height: 24px;
    background-image: url('/images/icons/pills-bottle.png');
}